@import url(normalize.css);
@import url(global-style.css);


.crm {
    padding-top: 80px;
    padding-bottom: 110px;
}

.container {
    /*display: flex;*/
    /*flex-flow: row wrap;*/
    margin: auto;
    padding: 0 100px;
    max-width: 1300px;
}

.crm__header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    max-width: 1100px;
}

.crm__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.crm__subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}
.crm__subtitle span{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #6D5BD0;
}


.crm__separator {
    max-width: 1100px;
    background: #C6C2DE;
    height: 1px;
    margin-bottom: 20px;
}

.crm__table {
    background: #FFFFFF;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.crm__table__top {
    max-width: 1100px;
    padding: 15px 20px 0 15px;
    /*display: flex;*/
    justify-content: space-between;
    display: grid;
    grid-template-columns: 520px auto 180px;
    grid-template-rows: auto;
    margin-bottom: 15px;
}

.crm__table__top--wrapper{
    display: flex;
    flex-flow: row wrap;
    width: 520px;
    column-gap: 20px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.crm__table__filter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 108px;
    height: 40px;
    font-size: 16px;
    line-height: 19px;
    color: #25213B;
    background: #FFFFFF;
    border: 1px solid #C6C2DE;
    border-radius: 6px;
}

.crm__table__search-form {
    display: flex;
    width: 392px;
    height: 40px;
    background: #F4F2FF;
    font-size: 12px;
    line-height: 15px;
    border-radius: 6px;
}

.crm__table__search-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
}

.crm__table__search-input {
    width: 350px;
    font-size: 12px;
    line-height: 15px;
    background-color: #F4F2FF;
    color: #6E6893;
    padding: 13px 0 12px 0;
    border: transparent;
    outline: transparent;
}

.crm__table__add-product {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 180px;
    height: 40px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #6D5BD0;
    border-radius: 6px;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.crm__table__t {
    width: 1100px;
    max-width: 1100px;
    vertical-align: middle;
    border-collapse: collapse;
}

.crm__table__t thead {
    background-color: #F4F2FF;
    width: 1100px;
    height: 45px;
    border-color: #F4F2FF;
}

.crm__table__t thead th {
    border-top: 1px solid #D9D5EC;
    border-bottom: 1px solid #D9D5EC;
    padding: 0 15px;

}

.crm__table__t tbody td {
    border-bottom: 1px solid #D9D5EC;
    padding: 0 15px;
    height: 60px;
}

.crm__table__t thead th:nth-child(1),
.crm__table__t thead th:nth-child(2),
.crm__table__t thead th:nth-child(3),
.crm__table__t tbody td:nth-child(1),
.crm__table__t tbody td:nth-child(2),
.crm__table__t tbody td:nth-child(3)   {
    text-align: left;
}
.crm__table__t thead th:nth-child(4),
.crm__table__t thead th:nth-child(5),
.crm__table__t thead th:nth-child(8),
.crm__table__t thead th:nth-child(9),
.crm__table__t thead th:nth-child(10),
.crm__table__t tbody td:nth-child(4),
.crm__table__t tbody td:nth-child(5),
.crm__table__t tbody td:nth-child(8),
.crm__table__t tbody td:nth-child(9),
.crm__table__t tbody td:nth-child(10) {
    text-align: center;
}

.crm__table__t thead th:nth-child(6),
.crm__table__t thead th:nth-child(7),
.crm__table__t tbody td:nth-child(6),
.crm__table__t tbody td:nth-child(7) {
    text-align: right;
}

.crm__table__t th {
    text-transform: uppercase;
}

.crm__table__body {
    overflow-x: auto;
    /*margin-bottom: 5px;*/
}

.crm__table__prod-btn {
    width: 20px;
    height: 20px;
}

.crm__table__prod-btn--no-img {
    background-image: url("img/carbon_no-image.svg");
    background-repeat: no-repeat;
    background-color: transparent;
}

.crm__table__prod-btn--img {
    background-image: url("img/carbon_image.svg");
    background-repeat: no-repeat;
    background-color: transparent;
}

.crm__table__prod-btn--edit {
    background-image: url("img/akar-icons_edit.svg");
    background-repeat: no-repeat;
    background-color: transparent;
}

.crm__table__prod-btn--del {
    background-image: url("img/ant-design_delete-outlined.svg");
    background-repeat: no-repeat;
    background-color: transparent;
}

.crm__table__bottom {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    height: 45px;
    column-gap: 50px;
    padding: 0 20px;
}

.crm__table__product-view,
.crm__table__product-view--text,
.crm__table__product-view select{
    border: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    color: #6E6893;
}

.crm__table__bottom button{
    background-color: transparent;
}


/*@media (max-width: 975px) {*/
/*    .crm__table__top {*/
/*        !*display: grid;*!*/
/*        justify-content: space-evenly;*/
/*        grid-template-columns: auto;*/
/*        grid-template-rows: 1fr 1fr;*/
/*     }*/

/*    .crm__table__top--wrapper {*/
/*        flex-flow: column wrap;*/
/*        width: 100%;*/
/*        row-gap: 15px;*/
/*        grid-column: 1 / 2;*/
/*        grid-row: 1 / 2;*/
/*    }*/

/*    .crm__table__add-product {*/
/*        grid-column: 1 / 2;*/
/*        grid-row: 2 / 3;*/
/*    }*/

/*}*/




